<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frank.mswl.mini.suggest.SuggestRepository">

    <!--
         小程序问题反馈Mapper.
         @author 张孝党 2020/01/15.
         @version V0.0.1.
         <p>
         更新履历： V0.0.1 2020/01/15 张孝党 创建.
     -->

    <select id="querySubmitCnt" parameterType="Map" resultType="int">
        SELECT
            COUNT(*)
        FROM
            g_suggest
        WHERE
             ipaddr = #{ipaddr}
         AND LEFT(updtime, 8) = #{updtime}
    </select>
    
    <insert id="insSuggest" parameterType="Map">
        INSERT INTO
            g_suggest(
                 id
                ,openid
                ,question
                ,phone
                ,updtime
                ,ipaddr
            )
        VALUES (
                 #{id}
                ,#{openid}
                ,#{question}
                ,#{phone}
                ,#{updtime}
                ,#{ipaddr}
        )
    </insert>
</mapper>