<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frank.mswl.web.advert.AdvertRepository">

    <!--
         web端首页广告Mapper.
         @author 张孝党 2020/03/21.
         @version V0.0.1.
         <p>
         更新履历： V0.0.1 2020/03/21 张孝党 创建.
     -->

    <!-- 查询列表 -->
    <select id="getAdvertList" parameterType="Map" resultType="Map">
        SELECT
              a.id as adid
             ,a.adname
             ,a.adimage
             ,a.sort
             ,a.updateTime as time
        FROM
            ms_advert a
        WHERE
            1 = 1
        <if test="adname != null and adname != ''">
            AND adname LIKE "%"#{adname}"%"
        </if>
        ORDER BY CAST(a.sort AS DECIMAL(10))
        <if test="pagingOrNot != null and pagingOrNot != ''">
            LIMIT #{startindex}, #{pagesize};
        </if>
    </select>

    <!-- 查询数据条数 -->
    <select id="getCnt" parameterType="Map" resultType="int">
        SELECT
            count(*) as cnt
        FROM
            ms_advert
        WHERE
            1 = 1
        <if test="adname != null and adname != ''">
            AND adname LIKE "%"#{adname}"%"
        </if>
    </select>

    <!-- 新增文章 -->
    <insert id="addAdvert" parameterType="Map">
        INSERT INTO
            ms_advert (
                 id
                ,adname
                ,adimage
                ,sort
                ,addTime
                ,updateTime
                ,operator
            )
        VALUES (
             #{id}
            ,#{adname}
            ,#{adimage}
            ,#{sort}
            ,#{addTime}
            ,#{updateTime}
            ,#{operator}
        )
    </insert>

    <!-- 删除文章 -->
    <delete id="deleteAdvert" parameterType="Map">
        DELETE FROM
            ms_advert
        WHERE
            id = #{id}
    </delete>

    <!-- 更新文章 -->
    <update id="updAdvert" parameterType="Map">
        UPDATE
            ms_advert
        SET
             adname = #{adname}
            ,sort = #{sort}
            ,updateTime = #{updateTime}
            ,operator = #{operator}
        <if test="adimage != null and adimage != ''">
            ,adimage = #{adimage}
        </if>
        WHERE
            id = #{id}
    </update>

</mapper>